* {
  box-sizing: content-box; /* 伸缩项目自动box-sizing:border-box，所以需调整为content-box */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; /* 头、中部、脚纵向显示 */
  overflow: hidden;
}

.app-header,
.app-footer {
  flex: 0 0 50px; /* 头、脚尺寸固定，不放大、不缩小 */
  border: 1px solid #3f3f3f;
  text-align: center;
}

.app-main {
  display: flex;
  flex: 1;
}

.app-content {
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid green;
  flex: 1;
  padding: 20px;
}
.app-left,
.app-right {
  overflow-y: auto;
  border: 1px solid blue;
  flex: 0 0 auto; /* 左右两列固定宽 */
}

.app-left {
  order: -1; /* 让left居于左侧 */
}
